#!/bin/sh
export TERMINAL="/usr/bin/alacritty"
export WINIT_X11_SCALE_FACTOR=1
export MOZ_USE_XINPUT2=1

lock_seconds=900
xset b off &
xset s $lock_seconds $lock_seconds &
xset dpms $lock_seconds $lock_seconds $lock_seconds &

picom -b &
unclutter &
dunst &
dex &
lxsession &
~/.fehbg &
playerctld daemon &
