#!/bin/sh
export TERMINAL="/usr/bin/alacritty"
export WINIT_X11_SCALE_FACTOR=1
export MOZ_USE_XINPUT2=1
eval $(ssh-agent)

lock_seconds=900
xset b off &
xset s $lock_seconds $lock_seconds &
xset dpms $lock_seconds $lock_seconds $lock_seconds &

picom -b &
unclutter --ignore-scrolling &
dex -a --environment i3 &
lxsession &
~/.fehbg &
playerctld daemon &
